<div class="menu">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 menu-items-left">
                <a routerLink="home">
                    <img class="logo-small" alt="RJL Accounting" src="assets/images/logo-small.jpg">
                    <img class="logo-normal" alt="RJL Accounting" src="assets/images/logo-normal.jpg">
                </a>
            </div>
            <div class="col-8 menu-items-container">
                <div class="menu-items-right">
                    <div id="mobile-menu">
                        <a href="#">
                            <button mat-icon-button aria-label="Menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                        </a>
                    </div>
                    <div id="desktop-menu">
                        <a routerLinkActive="active" routerLink="home">HOME</a>
                        <a routerLinkActive="active" routerLink="services">SERVICES</a>
                        <a routerLinkActive="active" routerLink="articles">ARTICLES</a>
                        <a routerLinkActive="active" routerLink="dates">DATES</a>
                        <a routerLinkActive="active" routerLink="calc">CALCULATORS</a>
                        <a routerLinkActive="active" routerLink="customers">CUSTOMERS</a>
                        <a routerLinkActive="active" routerLink="qr">e-BUSINESS CARD</a>
                        <button (click)="openBottomSheet()" mat-raised-button class="contact-btn">Contact Us</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

