<div class="menu">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 menu-items-left">
                <img class="logo-small" alt="RJL Accounting" src="assets/images/logo-small.jpg">
                <img class="logo-normal" alt="RJL Accounting" src="assets/images/logo-normal.jpg">
            </div>
            <div class="col-6 menu-items-container">
                <div class="menu-items-right">
                    <div id="mobile-menu">
                        <a href="#">
                            <button mat-icon-button aria-label="Menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                        </a>
                    </div>
                    <div id="desktop-menu">
                        <a routerLink="home" routerLinkActive="active">HOME</a>
                        <a routerLink="services">SERVICES</a>
                        <a routerLink="articles">ARTICLES</a>
                        <a routerLink="dates">DATES</a>
                        <a routerLink="events">EVENTS</a>
                        <a routerLink="customers">CUSTOMERS</a>
                        <a routerLink="contact">CONTACT</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>