<div class="fixed-bottom">
    <div class="footer">
        <div class="slider">
            <div class="container-fluid">
                <div class="row">
                    <jjva-ngx-whatsapp-button [ngx_whatsapp_phone]="'+27828254362'"
                        [ngx_whatsapp_text]="'To whom it may concern at RJL Accounting (Pty) Ltd. I am interested in your services. Please tell me more.'"></jjva-ngx-whatsapp-button>
                </div>
                <div class="row">
                    <div
                        class="col-sm-12 col-md-2 col-lg-2 col-xl-2 col-xxl-2 offset-lg-3 offset-md-1 offset-lg-1 offset-xl-1 offset-xxl-1 partner-logo-align">
                        <a rel="noopener noreferrer" target="_blank"
                            href="https://www.saica.org.za/verify-a-member/"><img alt="Agasa" class="slider-img"
                                src="assets/images/partners/agasa.png"></a>
                    </div>
                    <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 col-xxl-2 partner-logo-align">
                        <a rel="noopener noreferrer" target="_blank" href="https://quickbooks.intuit.com"><img
                                alt="Quickbooks" class="slider-img" src="assets/images/partners/quickbooks.png"></a>
                    </div>
                    <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 col-xxl-2 partner-logo-align">
                        <a rel="noopener noreferrer" target="_blank" href="https://www.sage.com"><img alt="Sage"
                                class="slider-img" src="assets/images/partners/sage.png"></a>
                    </div>
                    <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 col-xxl-2 partner-logo-align">
                        <a rel="noopener noreferrer" target="_blank" href="https://www.saica.org.za"><img
                                alt="The South African Institute of Chartered Accountants (SAICA)" class="slider-img"
                                src="assets/images/partners/saica.png"></a>
                    </div>
                    <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 col-xxl-2 partner-logo-align">
                        <img alt="SARS Tax Practisioner" class="slider-img" src="assets/images/partners/sars.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="practice-details" style="color: #dddddd; padding: 5px 10px 20px 10px;">
            <div>RJL Accounting (Pty) Ltd | Practice Nuber: 08206321 | Copyright © 2023 All rights reserved</div>
        </div>
    </div>
</div>