@import "../../variables.scss";

.footer {
    font-size: 13px;
    font-weight: normal;

    a {
        text-decoration: none;
        color: $color-footer-a;
        padding: 5px;
    }

    @media (min-width: 981px) {
        padding: 0;
    }

    @media (max-width: 980px) {
        padding: 15px 0 0 0;
    }

    width: 100%;
    color: $color-footer-text;
    text-align: center;
    background: $color-footer-background;
}

.slider-img {
    width: 160px;
}

.partner-logo-align {
    text-align: center;
}

.slider {
    background: $color-slider-background;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    margin-top: 0;
    -webkit-box-shadow: 0px -3px 7px 0px rgba(189, 189, 189, 1);
    -moz-box-shadow: 0px -3px 7px 0px rgba(189, 189, 189, 1);
    box-shadow: 0px -3px 7px 0px rgba(189, 189, 189, 1);

    @media (max-width: 980px) {
        display: none;
    }
}