<div class="fixed-bottom">
    <div class="footer">
        <div class="slider">
            <div class="container-fluid">
                <div class="row">
                    <jjva-ngx-whatsapp-button [ngx_whatsapp_phone]="'+27828254362'"
                    [ngx_whatsapp_text]="'To whom it may concern at RJL Accounting (Pty) Ltd. I am interested in your services. Please tell me more.'"></jjva-ngx-whatsapp-button>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2 partner-logo-align">
                        <a rel="noopener noreferrer" target="_blank"
                            href="https://www.saica.org.za/verify-a-member/"><img alt="Agasa" class="slider-img"
                                src="assets/images/partners/agasa.png"></a>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2 partner-logo-align">
                        <a rel="noopener noreferrer" target="_blank" href="https://www.draftworx.com"><img
                                alt="Automated IFRS, SME, FRS financial statements and Audit Working Papers."
                                class="slider-img" src="assets/images/partners/draftworx.png"></a>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2 partner-logo-align">
                        <a rel="noopener noreferrer" target="_blank" href="https://quickbooks.intuit.com"><img
                                alt="Quickbooks" class="slider-img" src="assets/images/partners/quickbooks.png"></a>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2 partner-logo-align">
                        <a rel="noopener noreferrer" target="_blank" href="https://www.sage.com"><img alt="Sage"
                                class="slider-img" src="assets/images/partners/sage.png"></a>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2 partner-logo-align">
                        <a rel="noopener noreferrer" target="_blank" href="https://www.saica.org.za"><img
                                alt="The South African Institute of Chartered Accountants (SAICA)" class="slider-img"
                                src="assets/images/partners/saica.png"></a>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2 partner-logo-align">
                        <a rel="noopener noreferrer" target="_blank" href="https://www.thesait.org.za/"><img
                                alt="South African Institute of Taxation" class="slider-img"
                                src="assets/images/partners/Sait-2019.png"></a>
                    </div>
                </div>
            </div>
        </div>
        <a [routerLink]="'terms'">Terms & Conditions</a>
        <hr>
        <div>RJL Accounting (Pty) Ltd</div>
        <div>Practice Number: 08206321</div>
        <div>Copyright © 2023 All rights reserved</div>
    </div>
</div>