<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Taxation</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
</div>
<div class="modal-body">
    <ul>
        <li>VAT Returns (completion & submission)</li>
        <li>VAT Verifications (and objections)</li>
        <li>TAX Consultation & Planning</li>
        <li>Income TAX Returns for Individuals and Corporate Entities (completion & submission)</li>
        <li>Provisional TAX Returns for Individuals and Corporate Entities (completion & submission)</li>
        <li>Income TAX Verifications, Objections & Audits with SARS</li>
        <li>TAX Clearance Certificates</li>
    </ul>
</div>