<div class="row gy-2">
    <div class="col-12">
        <div class="service-feature-card">
            <div class="text-center header">Taxation</div>
            <div class="content">
                VAT Returns (completion & submission)<br>
                VAT Verifications (and objections)<br>
                TAX Consultation & Planning<br>
                Income TAX Returns for Individuals and Corporate Entities (completion & submission)<br>
                Provisional TAX Returns for Individuals and Corporate Entities (completion & submission)<br>
                Income TAX Verifications, Objections & Audits with SARS<br>
                TAX Clearance Certificates
            </div>
            <div class="text-center footer">
                <button (click)="closeServiceCard()" class="btn btn-info bloat">Back to all Services</button>
            </div>
        </div>
    </div>
</div>