@import "../../variables.scss";

.contact-us-confirm {
    background: #ffffff;
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    .btn-primary {
        margin: 0;
    }
}

.contact-us-mail-container {
    border-radius: 5px;
    padding: 20px;
    background: $color-contact-background;
    color: $color-contact-text;
    width: 100%;

    & .form-control.input {
        color: #000000;
        font-size: 14px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        height: 50px;
        border: none;
        margin-bottom: 30px;
        border-bottom: solid $color-primary 3px;
        &::placeholder {
            color: #000000 !important;
        }
    }

    & .form-control.text {
        font-size: 14px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        height: 100px;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: solid $color-primary 3px;
        color: #000000 !important;
    }

    & .form-control.input-err {
        border-bottom: solid $color-action-error 3px;
    }

}


.contact-us-btn {
    @media screen and (max-width:650px) {
            font-size: 14px;
            margin: 0 10px 20px 0;
            padding: 8px !important;
            min-width: 75%;
            border-top-left-radius: 10px !important;
                border-bottom-left-radius: 3px !important;
                border-top-right-radius: 3px !important;
                border-bottom-right-radius: 10px !important;
        }
    
        @media screen and (min-width:651px) and (max-width:1199px) {
            font-size: 14px;
            margin: 0 10px 20px 0;
            padding: 5px !important;
            min-width: 200px;
            border-top-left-radius: 10px !important;
                border-bottom-left-radius: 3px !important;
                border-top-right-radius: 3px !important;
                border-bottom-right-radius: 10px !important;
        }
    
        @media screen and (min-width:1200px) {
            font-size: 16px;
            margin: 0 10px 20px 0;
            padding: 8px !important;
            min-width: 200px;
            border-top-left-radius: 10px !important;
                border-bottom-left-radius: 3px !important;
                border-top-right-radius: 3px !important;
                border-bottom-right-radius: 10px !important;
        }
}

.validation-error-global {
    font-size: 16px;
    padding-bottom: 20px;
    color: $color-action-error;
}