@import "../../variables.scss";

.contact-form-container-outer {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

#contact-form-container {
    background: $color-contact-background;
    color: $color-contact-text;
    width: 100%;

    >div:first-of-type {
        text-align: center;
        margin-top: 20px;
    }
}

.mission-statement {
    text-align: justify;
    padding: 40px 40px 0 40px;
}

.mission-statement-header {
    padding-bottom: 5px;
    border-bottom: solid 3px $color-primary;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

.contact-parent {
    width: 100%;
    column-gap: 10px;
    padding: 40px;
    display: flex;
}

.contact-parent>* {
    padding: 10px;
    border: none;
    border-radius: 0px;
    flex: 1;
}

.contact-parent>input:focus {
    outline: none;
}

.contact-parent>button {
    white-space: nowrap;
}
