<div class="contact-form-container-outer">
    <div id="contact-form-container">
        <div>
            <div class="form-group">
                <div class="mission-statement">
                    <div class="mission-statement-header">Our Mission</div>
                    At <b>RJL Accounting (Pty) Ltd</b>, our mission is to provide transparent and honest tax and
                    accounting services to small and
                    medium-sized businesses. We pride ourselves on offering excellent value for
                    money and quick turn-around times, while
                    remaining agile and fresh to meet the ever-evolving needs of our clients. Our
                    goal is to build lasting relationships
                    with our clients by providing reliable and personalized solutions that help them
                    achieve their financial objectives.
                    Trust RJL Accounting to be your partner in success.
                </div>
                <div class="container-fluid px-5 py-5">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 col-xxl-3">
                            <div class="form-floating mb-3">
                                <input required type="text" class="form-control" placeholder="Name" id="contact_name">
                                <label for="contact_name">Name</label>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 col-xxl-3">
                            <div class="form-floating mb-3">
                                <input required type="tel" class="form-control" placeholder="Phone" id="contact_phone">
                                <label for="contact_phone">Phone</label>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 col-xxl-3">
                            <div class="form-floating mb-3">
                                <input required type="email" class="form-control" placeholder="E-mail"
                                    id="contact_e-mail">
                                <label for="contact_e-mail">E-mail</label>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 col-xxl-3">
                            <button type="button" class="btn btn-success stretch">Contact Me</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>