
<div *ngIf="callbackRequested" class="text-center contact-us-confirm">
        <h2 class="mb-4">Thank you!<br>We will get back to you shortly.</h2>
        <button type="submit" class="btn btn-primary contact-us-btn" (click)="enableResend()">Close</button>
</div>

<div class="contact-us-mail-container">
    <form [formGroup]="formData" (ngSubmit)="onSubmit(formData.value)">
        <div class="container">
            <div class="text-center section-header-no-line">Request Callback</div>
            <div class="row" *ngIf="!sent">
                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="form-group">
                        <input maxlength="50" type="text" class="form-control input"
                            [class]="submitted && !formData.controls['NAME'].valid ? 'input-err' : ''"
                            name="name-field" placeholder="Your name" formControlName="NAME">
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="form-group">
                        <input maxlength="80" type="email" class="form-control input"
                            [class]="submitted && !formData.controls['EMAIL'].valid ? 'input-err' : ''"
                            name="email-field" placeholder="Your e-mail address" formControlName="EMAIL">
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="form-group">
                        <input maxlength="10" type="text" class="form-control input"
                            [class]="submitted && !formData.controls['TELEPHONE'].valid ? 'input-err' : ''"
                            name="tel-field" placeholder="Your contact number" formControlName="TELEPHONE">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <textarea (click)="checkPlaceholder()" maxlength="250" class="form-control text"
                            formControlName="COMMENT" name="comment-field"></textarea>
                    </div>
                </div>
            </div>
            <div class="row text-center mt-5">
                <div class="col-12">
                    <button id="rjlRequestContactBtn" type="submit" class="btn btn-primary contact-us-btn">Send</button>
                    <div class="mb-2">Visitor IP {{formData.controls["VISITOR_IP"].value}}</div>
                    <div class="mb-2">Visitor IP {{formData.controls["_confirmation"].value}}</div>
                </div>
            </div>
        </div>
    </form>
</div>