<div class="container">
    <div class="row">
        <div class="col">
            <div class="section-header">About RJL Accounting</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 mt-5">
            <p><strong>RJL Accounting (Pty) Ltd</strong> is run by an experienced and dedicated financial professional
                who possesses a
                self-motivated,
                positive, and goal-oriented approach to work. With a dynamic and active approach, he takes pride in
                providing
                excellent
                leadership and sets high standards for himself and those around him.</p>
            <p>
                His friendly and approachable nature
                coupled
                with
                his excellent communication skills make him a valuable asset to his clients. Renier Janse Lourens is
                passionate
                about
                his profession and is committed to exceeding expectations. He has an unquestionable work ethic, and is
                known
                for his
                loyalty and dedication.</p>
            <p>He is a man of his word, always following through on his commitments with a
                methodical and
                analytical approach.</p>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 mt-5">
            <img class="img-fluid" alt="Renier Janse Lourens" src="assets/images/placeholder_profile_pic.png">
        </div>
    </div>
</div>