<div class="container">
    <div class="row">
        <div class="col">
            <div class="section-header">About RJL Accounting</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 mt-3">
            <p>
                Renier Janse Lourens is an experienced and dedicated financial professional who serves as the founder
                and CEO of <strong>RJL
                Accounting (Pty) Ltd</strong>. With a self-motivated, positive, and goal-oriented approach to work, he takes
                pride in providing
                excellent leadership and setting high standards for himself and his team.</p>
            <p>
                Renier's friendly and approachable nature, coupled with his excellent communication skills, make him a
                valuable asset to
                his clients. He is passionate about his profession and is committed to exceeding expectations. He has an
                unquestionable
                work ethic and is known for his loyalty and dedication to his clients.
            </p>
            <p>
                Renier is a man of his word and always follows through on his commitments with a methodical and
                analytical approach. His
                dynamic and active approach to business is balanced by his commitment to staying up-to-date with the
                latest developments
                in tax and accounting regulations, ensuring that his clients receive the most effective and relevant
                advice.
            </p>
            <p>
                At <strong>RJL Accounting</strong>, Renier leads a team of experienced professionals who share his commitment to
                integrity, excellence,
                and responsiveness. Together, they offer personalized solutions that cater to the unique needs of each
                client, providing
                exceptional value for money and quick turnaround times. Contact <strong>RJL Accounting</strong> today to learn more about
                how Renier and
                his team can help you achieve your financial objectives.
            </p>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 mt-3">
            <img class="img-fluid" alt="Renier Janse Lourens" src="assets/images/placeholder_profile_pic.png">
        </div>
    </div>
</div>