<div class="container">
    <div class="row">
        <div class="col">
            <div class="section-header">About Us</div>
        </div>
    </div>
    <div class="about-content">
        <div class="profile">
            <img class="profile-pic" alt="Renier Janse Lourens" src="assets/images/profile_pic.png">
            <div class="mt-3"><strong>RJ Lourens</strong></div>
            Associate General Accountant (SA) PR 08206321<br>
            Registered Tax Practicioner<br>
            B Compt Accounting (Unisa)
        </div>
        <div class="information">
            <div class="section-subheader">More about the founder of RJL Accounting.</div>
            <p>
                Renier Janse Lourens is an experienced and dedicated financial professional who serves as the founder
                of RJL
                    Accounting. With a self-motivated, positive, and goal-oriented approach to work, he takes
                pride in providing
                excellent leadership and setting high standards.</p>
            <p>
                Renier's friendly and approachable nature, coupled with his excellent communication skills, make him a
                valuable asset to
                his clients. He is passionate about his profession and is committed to exceeding expectations. He has an
                unquestionable
                work ethic and is known for his loyalty and dedication to his clients.
            </p>
            <p>
                Renier is a man of his word and always follows through on his commitments with a methodical and
                analytical approach. His
                dynamic and active approach to business is balanced by his commitment to staying up-to-date with the
                latest developments
                in tax and accounting regulations, ensuring that his clients receive the most effective and relevant
                advice.
            </p>
            <p>
                At RJL Accounting, we aim to offer personalized solutions that cater to the unique needs of each
                client, providing exceptional value for money and quick turnaround times. Contact RJL Accounting today to learn more
                about we can help you achieve your financial objectives.
            </p>
        </div>
    </div>
</div>