<div class="container">
    <div class="row">
        <div class="col">
            <div class="section-header">Resources</div>
        </div>
    </div>
    <div class="row">
        <div class="col mt-5">
            <div class="alert alert-info" role="alert">
                Please note that we provide links to third-party websites and resources for your convenience and
                information
                only. We do
                not endorse or assume any responsibility for the content, accuracy, or reliability of any external site.
                By
                clicking on
                any external link, you acknowledge that you are accessing a third-party site at your own risk. We are
                not
                liable for any
                loss or damage that may arise from your use of any third-party site or resource.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mt-2">
            Below is a list of handy resources for your reference.
            By making use of this section you acknowledge that you have read the terms and conditions below.
            All these resources will open in a new browser tab.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 col-xxl-3">
            <div class="card mt-2">
                <div class="card-body">
                    <div class="card-title">SARS Dates</div>
                    <p class="card-text">A resource listing important SARS related dates, e.g. PAYE submissions &
                        payment, Excise Duty payments, etc.</p>
                    <div class="text-end"><a href="#" class="btn btn-light" rel="noopener" target="_blank"
                        href="https://www.sars.gov.za/important-dates-4/">Open</a></div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 col-xxl-3">
            <div class="card mt-2">
                <div class="card-body">
                    <div class="card-title">TAX Q&A</div>
                    <p class="card-text">A comprehensive resource containing questions & answers, relating to a variety
                        of Tax related discussion points.</p>
                    <div class="text-end"><a href="#" class="btn btn-light" rel="noopener" target="_blank"
                        href="https://www.sars.gov.za/individuals/i-need-help-with-my-tax/your-tax-questions-answered/independent-software-vendors/">Open</a></div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 col-xxl-3">
            <div class="card mt-2">
                <div class="card-body">
                    <div class="card-title">TAX Practitioners</div>
                    <p class="card-text">A comprehensive resource pertaining to many aspects of Tax Practitioners from a
                        SARS perspective.</p>
                    <div class="text-end"><a href="#" class="btn btn-light" rel="noopener" target="_blank"
                        href="https://www.sars.gov.za/tax-practitioners/sars-mobi-app/">Open</a></div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 col-xxl-3">
            <div class="card mt-2">
                <div class="card-body">
                    <div class="card-title">Historic Rates</div>
                    <p class="card-text">An external resource to view exchange rates, as well as historic exchange rates
                        as recorded by The South African Reserve Bank.</p>
                    <div class="text-end"><a href="#" class="btn btn-light" rel="noopener" target="_blank"
                        href="https://www.resbank.co.za/en/home/what-we-do/statistics/key-statistics/selected-historical-rates">Open</a></div>
                </div>
            </div>
        </div>
    </div>
</div>