<div class="container">
    <div class="row">
        <div class="col">
            <div class="section-header">Resources</div>
            <div class="section-subheader">Some handy resources especially for you...</div>
        </div>
    </div>
    <div class="row">
        <div class="col mt-1 mb-3">
            <div class="alert alert-info" role="alert">
                Please note that we provide links to third-party websites and resources for your convenience and
                information
                only. We do
                not endorse or assume any responsibility for the content, accuracy, or reliability of any external site.
                By
                clicking on
                any external link, you acknowledge that you are accessing a third-party site at your own risk. We are
                not
                liable for any
                loss or damage that may arise from your use of any third-party site or resource.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mb-3">
            Below is a list of handy resources for your reference.
            By making use of this section you acknowledge that you have read the terms and conditions below.
            All these resources will open in a new browser tab.
        </div>
    </div>
    <div class="row gy-2">
        <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 col-xxl-3">
            <div class="p-3 border flash-card fade-1">
                <div class="flash-card-content f2-1 text-center">
                    <div class="flash-card-header">SARS Dates</div>
                    A resource listing important SARS related dates, e.g. PAYE submissions &
                    payment, Excise Duty payments, etc.
                </div>
                <div class="flash-card-footer text-center">
                    <a href="#" class="btn btn-info bloat" rel="noopener" target="_blank"
                        href="https://www.sars.gov.za/important-dates-4/">Visit Site</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 col-xxl-3">
            <div class="p-3 border flash-card fade-2">
                <div class="flash-card-content f2-1 text-center">
                    <div class="flash-card-header">Tax Q&A</div>
                    A comprehensive resource containing questions & answers, relating to a variety
                    of Tax related discussion points.
                </div>
                <div class="flash-card-footer text-center">
                    <a href="#" class="btn btn-info bloat" rel="noopener" target="_blank"
                        href="https://www.sars.gov.za/individuals/i-need-help-with-my-tax/your-tax-questions-answered/independent-software-vendors/">Visit Site</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 col-xxl-3">
            <div class="p-3 border flash-card fade-3">
                <div class="flash-card-content f2-1 text-center">
                    <div class="flash-card-header">Historic Rates</div>
                    An external resource to view exchange rates, as well as historic exchange rates
                    as recorded by The South African Reserve Bank.
                </div>
                <div class="flash-card-footer text-center">
                    <a href="#" class="btn btn-info bloat" rel="noopener" target="_blank"
                        href="https://www.resbank.co.za/en/home/what-we-do/statistics/key-statistics/selected-historical-rates">Visit Site</a>
                </div>
            </div>
        </div>
    </div>
</div>