<div class="container">
    <div class="row">
        <div class="col">
            <div class="section-header">Contact</div>
        </div>
    </div>
    <div class="row">
        <div class="col mt-5">
            <span style="font-weight: bold;">RJL Accounting (Pty) Ltd</span><br>
            Practice Number: 08206321<br>
            Copyright © 2023 All rights reserved<br>
            Mobile: <a href="tel:0828254362">082 825 4362</a><br>
            E-Mail: <a href="mailto:renier@rjlaccounting.co.za">renier@rjlaccounting.co.za</a><br>
            <hr style="color: white;">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7166.101425534834!2d27.896799027404!3d-26.097263198909697!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e959e4a66b33f2f%3A0xfdd157a7a2c69cfc!2sHoneydew%20Manor%2C%20Roodepoort!5e0!3m2!1sen!2sza!4v1678526259217!5m2!1sen!2sza"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>