<div class="row gy-2">
    <div class="col-12">
        <div class="service-feature-card">
            <div class="text-center header">Financial Reporting</div>
            <div class="content">
                Independent Reviews<br>
                Compilation / Drafting of Annual Financial Statements<br>
                Monthly Processing of Transactions<br>
                Preparation of Management Accounts
            </div>
            <div class="text-center footer">
                <button (click)="closeServiceCard()" class="btn btn-info bloat">Back to all Services</button>
            </div>
        </div>
    </div>
</div>