<div class="cookie-container" *ngIf="showCookieDrawer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                At RLJ Accounting, we use cookies to enhance your browsing experience on our website. Cookies are small
                text files
                that
                are stored on your device to help us understand how you interact with our website. By continuing to
                browse our site,
                you
                accept the use of cookies. You can adjust your cookie settings in your browser at any time. Please note
                that
                disabling
                cookies may affect the functionality of our website.
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <a href="#" (click)="acceptCookies()">Accept</a>
            </div>
        </div>
    </div>
</div>