.main-logo {
    margin-left: 3px;
    margin-top: 5px;
    margin-bottom: 2px;
    background-size: contain;
    background-repeat: no-repeat;
    animation: fade 0.8s ease-in;
}

@media screen and (max-width:650px) {
    .main-logo {
        height: 33px;
        width: 200px;
        background-image: url('./../assets/images/logo.png');
    }
}

@media screen and (min-width:651px) and (max-width:1199px) {
    .main-logo {
        height: 33px;
        width: 200px;
        background-image: url('./../assets/images/logo.png');
    }
}

@media screen and (min-width:1200px) {
    .main-logo {
        height: 33px;
        width: 200px;
        background-image: url('./../assets/images/logo.png');
    }
}

.rjl-whatsapp {
    display: none;
}
