<nav class="navbar navbar-expand-md navbar-light bg-dark" [class]="showBorder ? 'navbar-border' : ''">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" [routerLink]="'home'">
            <div class="main-logo">&nbsp;</div>
            <!-- <img class="main-logo" alt="RJL Accounting (Pty) Ltd" src="assets/images/logo_wide.svg"> -->
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <img src="assets/images/nav/hamburger.png" style="height: 20px; width: 20px;">
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
            <button style="font-size: 25px; border-bottom: none !important; min-width: inherit !important; padding-bottom: 0;">
                <span tooltipClass="rjl-tooltip-custom" [openDelay]="300" [closeDelay]="500" 
                    placement="bottom" ngbTooltip="Send us a Whatsapp" (click)="openWhatsApp()" class="bi bi-whatsapp"></span></button>
            <button routerLinkActive="active" type="button" class="btn" [routerLink]="'services'">Our Services</button>
            <button routerLinkActive="active" type="button" class="btn" [routerLink]="'resources'">Resources</button>
            <button routerLinkActive="active" type="button" class="btn" [routerLink]="'about'">About Us</button>
            <button routerLinkActive="active" type="button" class="btn" [routerLink]="'contact'">Contact Us</button>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col g-0">
            <app-cookie></app-cookie>
            <router-outlet></router-outlet>
            <jjva-ngx-whatsapp-button id="rjlWhatsapp" [ngx_whatsapp_phone]="'+27828254362'" class="rjl-whatsapp"
                [ngx_whatsapp_text]="'RJL Accounting (Pty) Ltd'"></jjva-ngx-whatsapp-button>
            <div id="page-bottom" style="height: 210px;">&nbsp;</div>
        </div>
    </div>
</div>
<app-footer></app-footer>
