.view-card-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    .card {
        height: 200px;
        text-overflow: ellipsis;
        width: 18rem;
    }

    .card-body .card-title {
        font-size: 16px;
        font-weight: bold;
    }

    .card-body {
        font-size: 14px;
    }

    .view-card-link {
        font-size: 16px;
        border-radius: 3px;
        background: #f2f2f2;
        padding: 8px 15px 8px 15px;
        position: absolute;
        bottom: 15px;
        right: 20px;
    }
    
}
