<div class="rjl-content">
    <div class="page-header">Important Dates</div>
        <a class="inverted-link" target="_blank" href="https://www.sars.gov.za/important-dates-4/">View important SARS dates</a>
        <br>
        <a class="inverted-link" target="_blank"
            href="https://www.sars.gov.za/individuals/i-need-help-with-my-tax/your-tax-questions-answered/independent-software-vendors/">Tax
            Q&A</a>
        <br>
        <a class="inverted-link" target="_blank" href="https://www.sars.gov.za/tax-practitioners/sars-mobi-app/">Tax
            Practitioners</a>
</div>
