<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="section-header">Terms & Conditions</div>
            <div class="section-subheader">By accessing this website, you agree to the following terms and conditions.</div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-2">
            It is important to note that the information provided on this website is for general informational purposes only and
            should not be construed as financial advice. The owner and operators of this website are not licensed financial advisors
            and do not provide any financial advice or recommendations. All visitors to this website are advised to consult with a
            licensed financial advisor before making any financial decisions. The owner and operators of this website will not be
            held responsible for any financial losses or damages that may arise from the use of the information provided on this
            website. 
        </div>
    </div>
</div>

