<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Payroll Services</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
</div>
<div class="modal-body">
    <ul>
        <li>Compilation of Annual financial statements</li>
        <li>Monthly processing of transactions</li>
        <li>Preparation of management accounts</li>
        <li>Completion and submission of VAT returns</li>
        <li>VAT verifications and objections</li>
        <li>Tax planning</li>
        <li>Completion and submission of income tax returns for individuals and corporate entities</li>
        <li>Completion and submission of provisional tax returns for individuals and corporate entities</li>
        <li>Income Tax verifications, objections and audits with SARS</li>
        <li>Tax clearance certificates</li>
        <li>Completion and submission of VAT returns</li>
        <li>VAT verifications and objections</li>
        <li>Tax planning</li>
        <li>Completion and submission of income tax returns for individuals and corporate entities</li>
        <li>Completion and submission of provisional tax returns for individuals and corporate entities</li>
        <li>Income Tax verifications, objections and audits with SARS</li>
        <li>Tax clearance certificates</li>
        <li>SARS registrations for Income Tax, Payroll Taxes (PAYE, UIF, SDL) Value Added Tax (VAT) and
            Provisional
            Tax</li>
        <li>COIDA (Compensation Commissioner) registrations</li>
        <li>New Company Registrations</li>
        <li>UIF registrations at the Department of Labour</li>
        <li>Submission of monthly EMP201 returns</li>
        <li>Bi-annual and annual IRP5 reconciliations (EMP501's)</li>
        <li>Payroll verifications and objections at SARS</li>
        <li>Monthly payroll function</li>
        <li>Unemployment Insurance Fund (UIF) monthly submissions at the Department of Labour</li>
        <li>Completion and submission of ROA (Return of Earnings) for Workmen's Compensation Commissioner</li>
        <li>SARS registrations for Income Tax, Payroll Taxes (PAYE, UIF, SDL) Value Added Tax (VAT) and
            Provisional
            Tax</li>
        <li>COIDA (Compensation Commissioner) registrations</li>
        <li>New Company Registrations</li>
        <li>UIF registrations at the Department of Labour</li>
        <li>B-BBEE Consultation services as well as preparation of completed file for verification</li>
        <li>Annual returns for Corporate Entities</li>
        <li>Commissioner of Oaths</li>
    </ul>
</div>