<div class="row gy-2">
    <div class="col-12">
        <div class="service-feature-card">
            <div class="text-center header">Payroll Services</div>
            <div class="content">
                Monthly Payroll Function<br>
                Monthly Submissions of Returns (EMP201)<br>
                Bi-Annual & Annual IRP5 Reconciliations (EMP501)<br>
                Monthly UIF Submissions at the Department of Labour<br>
                Payroll Verifications & Objections at SARS<br>
                Completion & Submission of Return of Earnings (ROA) for Workmen's Compensation Commissioner
            </div>
            <div class="text-center footer">
                <button (click)="closeServiceCard()" class="btn btn-info bloat">Back to all Services</button>
            </div>
        </div>
    </div>
</div>