<div class="container">
    <div class="row">
        <div class="col">
            <div class="section-header">Our Services</div>
        </div>
    </div>
    <div class="row gy-2">
        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
            <div class="p-3 border flash-card">
                <div class="flash-card-content f2-1">
                    <div class="flash-card-header">Tax Consulting</div>
                    <div class="flash-card-teaser">
                        Maximize your tax savings and minimize your tax liability with our comprehensive tax planning,
                        income tax return, and
                        audit support services.
                    </div>
                    <div class="flash-card-splash">
                        <img class="img-fluid" src="/assets/images/cards/tax.png">
                        <br><a rel="noopener" target="_blank"
                            href="https://www.freepik.com/free-vector/monthly-expense-planning-reminder-appointment-payment-deadline-worker-with-timetable-organizer-schedule-countdown-payday-vector-isolated-concept-metaphor-illustration_12470255.htm#query=tax&position=2&from_view=search&track=sph">Image
                            by vectorjuice</a> on Freepik
                    </div>
                    <div class="flash-card-footer">
                        <button (click)="viewMore('tax')" class="btn btn-info">More</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
            <div class="p-3 border flash-card">
                <div class="flash-card-content f2-1">
                    <div class="flash-card-header">Accounting Services</div>
                    <div class="flash-card-teaser">
                        Gain control of your finances with our accounting and financial reporting services, including
                        annual
                        financial statement
                        compilations, VAT and tax returns, and management accounts.
                    </div>
                    <div class="flash-card-splash">
                        <img class="img-fluid" src="/assets/images/cards/accounting.png">
                        <br><a rel="noopener" target="_blank"
                            href="https://www.freepik.com/free-vector/accountant-concept-illustration_13785128.htm#query=accounting&position=14&from_view=search&track=sph">Image
                            by storyset</a> on Freepik
                    </div>
                    <div class="flash-card-footer">
                        <button (click)="viewMore('accounting')" class="btn btn-info">More</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
            <div class="p-3 border flash-card">
                <div class="flash-card-content f2-1">
                    <div class="flash-card-header">Payroll Services</div>
                    <div class="flash-card-teaser">
                        Streamline your payroll processes with our monthly payroll processing, SARS submissions, and
                        annual
                        reconciliations.
                    </div>
                    <div class="flash-card-splash">
                        <img class="img-fluid" src="/assets/images/cards/payroll.png">
                        <br><a rel="noopener" target="_blank"
                            href="https://www.freepik.com/free-vector/accountant-concept-illustration_13766143.htm#query=payroll&position=13&from_view=search&track=sph">Image
                            by storyset</a> on Freepik
                    </div>
                    <div class="flash-card-footer">
                        <button (click)="viewMore('payroll')" class="btn btn-info">More</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
            <div class="p-3 border flash-card">
                <div class="flash-card-content f2-1">
                    <div class="flash-card-header">Other Services</div>
                    <div class="flash-card-teaser">
                        Ensure compliance with our other services including new company and COIDA registrations, B-BBEE
                        consultation, and
                        commissioner of oaths.
                    </div>
                    <div class="flash-card-splash">
                        <img class="img-fluid" src="/assets/images/cards/other.png">
                        <br><a rel="noopener" target="_blank"
                            href="https://www.freepik.com/free-vector/accounting-background-design_1026864.htm#query=accounting&position=42&from_view=search&track=sph">Image
                            by GraphiqaStock</a> on Freepik
                    </div>
                    <div class="flash-card-footer">
                        <button (click)="viewMore('other')" class="btn btn-info">More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>