<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="section-header">Our Services</div>
        </div>
    </div>
    <div class="row">
        <div class="page-teaser">
            <p>Welcome to <strong>RLJ Accounting</strong>, your trusted partner for all your financial needs. We
                offer a wide range of services designed to help you achieve financial
                success. Our services are divided into four main categories: <span class="word-pop">Taxation</span>,
                <span class="word-pop">Financial Reporting</span>,
                <span class="word-pop">Payroll Services</span>, and <span class="word-pop">Accounting Services</span>.
            </p>
            <ul style="display: none;">
                <li>We provide comprehensive <span class="word-pop">Taxation Services</span>, including VAT and income
                    tax returns,
                    consultations, and planning.</li>
                <li>Our <span class="word-pop">Financial Reporting</span>
                    services cover
                    independent reviews, annual financial statement compilation, monthly processing of transactions, and
                    management accounts
                    preparation.
                </li>
                <li><span class="word-pop">Payroll Services</span> range from monthly payroll functions to completion
                    and submission of
                    return of
                    earnings
                    for Workmen's Compensation Commissioner.</li>
                <li>Finally, our <span class="word-pop">Accounting Services</span> encompass monthly accounting
                    services, new
                    company registrations, annual returns for corporate entities, and commissioner of oaths. We are
                    committed to providing you with customized solutions to meet your specific needs.</li>
            </ul>
            <p>Let <strong>RLJ Accounting</strong> help you achieve your financial goals.</p>
        </div>
    </div>
    <div class="row gy-2">
        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
            <div class="p-3 border flash-card">
                <div class="flash-card-content f2-1">
                    <div class="flash-card-header">Taxation</div>
                    <div class="flash-card-teaser">
                        Stay tax compliant and optimize your returns with our comprehensive taxation services for
                        individuals and corporate
                        entities.
                    </div>
                    <div class="flash-card-splash">
                        <img class="img-fluid" src="/assets/images/cards/tax.png">
                    </div>
                    <div class="flash-card-footer">
                        <button (click)="viewMore('tax')" class="btn btn-info">More</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
            <div class="p-3 border flash-card">
                <div class="flash-card-content f2-1">
                    <div class="flash-card-header">Financial Reporting</div>
                    <div class="flash-card-teaser">
                        Ensure accurate and reliable financial reporting with our comprehensive services including
                        independent reviews,
                        financial statement compilation, and management account preparation.
                    </div>
                    <div class="flash-card-splash">
                        <img class="img-fluid" src="/assets/images/cards/financialreporting.png">
                    </div>
                    <div class="flash-card-footer">
                        <button (click)="viewMore('accounting')" class="btn btn-info">More</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
            <div class="p-3 border flash-card">
                <div class="flash-card-content f2-1">
                    <div class="flash-card-header">Payroll Services</div>
                    <div class="flash-card-teaser">
                        Efficient and Accurate Payroll Services for Your Business. Let Us Handle Your Monthly Payroll
                        and Returns, UIF
                        Submissions, and More.
                    </div>
                    <div class="flash-card-splash">
                        <img class="img-fluid" src="/assets/images/cards/payroll.png">
                    </div>
                    <div class="flash-card-footer">
                        <button (click)="viewMore('payroll')" class="btn btn-info">More</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
            <div class="p-3 border flash-card">
                <div class="flash-card-content f2-1">
                    <div class="flash-card-header">Accounting Services</div>
                    <div class="flash-card-teaser">
                        Discover our wide range of additional services, including annual returns for corporate entities,
                        new company
                        registrations, and registrations for various taxes and funds, as well as Commissioner of Oaths
                        services.
                    </div>
                    <div class="flash-card-splash">
                        <img class="img-fluid" src="/assets/images/cards/other.png">
                    </div>
                    <div class="flash-card-footer">
                        <button (click)="viewMore('other')" class="btn btn-info">More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>