<div *ngIf="callbackRequested" class="text-center contact-us-confirm">
    <h2 class="mb-4">Thank you for contacting RJL Accounting.<br>We will get back to you shortly.</h2>
    <button type="submit" class="btn btn-primary contact-us-btn" (click)="enableResend()">Close</button>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="section-header">Our Services</div>
            <div class="section-subheader" *ngIf="!focus">Our service offering to you!</div>
        </div>
    </div>
    <div class="row" *ngIf="!focus">
        <div class="page-teaser">
            <p>Welcome to RJL Accounting, your trusted partner for all your financial needs. We
                offer a wide range of services designed to help you achieve financial
                success.
            </p>
            <ul>
                <li>We provide comprehensive <span class="word-pop">Taxation Services</span>, including VAT and income
                    tax returns,
                    consultations, and planning.</li>
                <li>Our <span class="word-pop">Financial Reporting</span>
                    services cover
                    independent reviews, annual financial statement compilation, monthly processing of transactions, and
                    management accounts
                    preparation.
                </li>
                <li><span class="word-pop">Payroll Services</span> range from monthly payroll functions to completion
                    and submission of
                    return of
                    earnings
                    for Workmen's Compensation Commissioner.</li>
                <li>Finally, our <span class="word-pop">Accounting Services</span> encompass monthly accounting
                    services, new
                    company registrations, annual returns for corporate entities, and commissioner of oaths. We are
                    committed to providing you with customized solutions to meet your specific needs.</li>
            </ul>
            <p>Let RJL Accounting help you achieve your financial goals.</p>
        </div>
    </div>

    <app-services-tax (closeServiceCardEvent)="closeServiceCardHandler()" *ngIf="focus === 'tax'"></app-services-tax>
    <app-services-financial-reporting (closeServiceCardEvent)="closeServiceCardHandler()" *ngIf="focus === 'accounting'"></app-services-financial-reporting>
    <app-services-payroll (closeServiceCardEvent)="closeServiceCardHandler()" *ngIf="focus === 'payroll'"></app-services-payroll>
    <app-services-other (closeServiceCardEvent)="closeServiceCardHandler()" *ngIf="focus === 'other'"></app-services-other>

    <div class="row gy-2" *ngIf="!focus">
        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
            <div class="service-card fade-1">
                <div>
                    <div class="text-center header">Taxation</div>
                    <div class="text-center content">Stay tax compliant and optimize your returns with our comprehensive
                        taxation services for
                        individuals and corporate
                        entities.</div>
                    <div class="text-center footer">
                        <button (click)="focus = 'tax'" class="btn btn-info bloat">View More</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
            <div class="service-card fade-2">
                <div>
                    <div class="text-center header">Financial Reporting</div>
                    <div class="text-center content">Ensure accurate and reliable financial reporting with our
                        comprehensive services including
                        independent reviews,
                        financial statement compilation, and management account preparation.</div>
                    <div class="text-center footer">
                        <button (click)="focus = 'accounting'" class="btn btn-info bloat">View More</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
            <div class="service-card fade-3">
                <div>
                    <div class="text-center header">Payroll Services</div>
                    <div class="text-center content">Efficient and Accurate Payroll Services for Your Business. Let Us
                        Handle Your Monthly Payroll
                        and Returns, UIF
                        Submissions, and More.</div>
                    <div class="text-center footer">
                        <button (click)="focus = 'payroll'" class="btn btn-info bloat">View More</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
            <div class="service-card fade-4">
                <div>
                    <div class="text-center header">Accounting Services</div>
                    <div class="text-center content">Discover our wide range of additional services, including annual
                        returns for corporate entities,
                        new company
                        registrations, and registrations for various taxes and funds, as well as Commissioner of Oaths
                        services.</div>
                    <div class="text-center footer">
                        <button (click)="focus = 'other'" class="btn btn-info bloat">View More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>