<div class="slider">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2 partner-logo-align">
                <a target="_blank" href="https://www.saica.org.za/verify-a-member/"><img alt="Agasa" class="slider-img" src="../../assets/partners/agasa.png"></a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2 partner-logo-align">
                <a target="_blank" href="https://www.draftworx.com"><img alt="Automated IFRS, SME, FRS financial statements and Audit Working Papers." class="slider-img" src="../../assets/partners/draftworx.png"></a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2 partner-logo-align">
                <a target="_blank" href="https://quickbooks.intuit.com"><img alt="Quickbooks" class="slider-img" src="../../assets/partners/quickbooks.png"></a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2 partner-logo-align">
                <a target="_blank" href="https://www.sage.com"><img alt="Sage" class="slider-img" src="../../assets/partners/sage.png"></a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2 partner-logo-align">
                <a target="_blank" href="https://www.saica.org.za"><img alt="The South African Institute of Chartered Accountants (SAICA)" class="slider-img" src="../../assets/partners/saica.png"></a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2 partner-logo-align">
                <a target="_blank" href="https://www.thesait.org.za/"><img alt="South African Institute of Taxation" class="slider-img" src="../../assets/partners/Sait-2019.png"></a>
            </div>
        </div>
    </div>
</div>