<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Accounting Services</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
</div>
<div class="modal-body">
    <ul>
        <li>Monthly Accounting Services</li>
        <li>Annual Returns for Corporate Entities</li>
        <li>Registrations for:</li>
        <ul>
            <li>New Companies</li>
            <li>Unemployment Insurance Fund (UIF) at the Department of Labour</li>
            <li>Compensation Commissioner (COIDA)</li>
            <li>Income Tax, Payroll Taxes (UIF, SDL & PAYE), Value Added Tax (VAT) & Provisional Tax at SARS</li>
        </ul>
        <li>Commissioner of Oaths</li>
    </ul>
</div>