@use "md.scss";

html, body { 
    background: #f7f9f8;
    height: 100%; 
}

body { 
    background: #f7f9f8;
    margin: 0; font-family: Rubik, Robota, sans-serif !important; 
}

.main-content {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.spacer-small {
    height: 10px;
}