@import "variables.scss";

html, body { 
  overflow-x: hidden;
  min-height: 3000px;
  font-size: 1em;
  font-family: $font-family !important;
}
body { 
  margin: 0; 
  font-size: 14px;
  font-family: $font-family !important;  
}

.home-bg {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.main-logo {
  margin-bottom: 5px;
  max-height: 30px;
}

.section-header {
  margin-top: 20px; 
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  border-bottom: solid 3px $color-section-header-border;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  background: $color-general-1;
  border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
  background: $color-main-background-light;
}

.feature-card {
  border: none;
  background: $color-feature-card-background;
  color: $color-feature-card-text;
}

.feature-card .card-text {
  border-radius: $radius-feature-card;
  min-height: 100px;
}

a:focus, a:active {
  color: $color-a-normal;
  border: none;
}

a, button {
  border: none !important;
  border-radius: $radius-button !important;
}

.alert.alert-info {
  background: $alert-info-background;
  color: $alert-info-text;
  border: $alert-info-border;
  border-radius: $radius-alert-info;
}

.ngx-whatsapp-button-float {
  border-radius: 50px !important;
  box-shadow: none !important;
}

.input-btn {
  height: 58px;
}

.flash-card {
  position: relative;
  transition: 0.3s;
  border-radius: 5px;
  border: none !important;
  background-color: $color-flash-card-background;
  text-align: center;
  @media screen and (min-width:600px) {
    height: 100%;
  }
}

.flash-card-teaser {
  min-height: 140px;
}

.flash-card-splash {
  text-align: center;
  font-size: 10px;
  color: #333333;
  & img {
    max-width: 250px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  & a {
    font-size: 10px;
    color: #333333;
  }
}

.flash-card-footer {
  text-align: end;
  position: absolute;
  right: 0;
  top: 0;
  & button {
    padding-left: 20px !important;
    padding-right: 18px !important;
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 5px !important;
    border-top-left-radius: 0px !important;
  }
  & a {
    color: $color-a-contrast !important;
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 5px !important;
    border-top-left-radius: 0px !important;
  }
}

.flash-card a {
  color: $color-general-1;
}

.flash-card-header {
  font-weight: bold;
  padding: 20px 0 20px 0;
}

.flash-card-content {
  min-height: 120px;
  text-align: left;
  height: 100%;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none;
  }
}

.spacer-md {
  height: 20px;
}

.page-teaser {
  padding-bottom: 20px;
}