$color-banner-background: #f2f2f2;
$color-banner-text: #333333;
$color-banner-border: #dddddd;

$color-disabled-background: #777777;
$color-disabled-text: #f3f3f3;

$color-a-normal: #333333;
$color-a-contrast: #ffffff;

$color-section-header-border: #333333;

$color-slider-background: #f2f2f2;

$color-general-1: #333333;
$color-general-2: #f2f2f2;

// #015288;
$color-primary-a: #004887; 
$color-secondary-a: #333377;

$color-footer-a: #000000;
$color-footer-background: #009ffb;
$color-footer-text: #000000;

$color-primary: #015288;
$color-primary-text: #ffffff;

$color-secondary: #113355;
$color-secondary-text: #ffffff;

$color-action: #113355;
$color-action-text: #ffffff;

$color-main-background-light: #ededed;
$color-main-text-light: #333333;

// #015288
$color-main-background-primary: #004887;
$color-main-text-primary: #ffffff;

$color-main-background-dark: #333333;
$color-main-text-dark: #ffffff;

$color-feature-card-background: #f2f2f2;
$color-feature-card-text: #333333;

// #015288
$color-nav-background: #004887;
$color-nav-background-hover: #ffffff;
$color-nav-text: #ffffff;
$color-nav-text-hover: #000000;

$color-quote-background: #009ffb;
$color-quote-text: #ffffff;

$font-family: Montserrat, "Montserrat", "Helvetica Neue", sans-serif;

// #015288
$color-action-money: #004887;
$color-action-money-hover: #004887;
$color-action-money-text: #ffffff;
$color-action-money-border: #ffffff;

$color-action-success: #009ffb;
$color-action-success-text: #ffffff;
$color-action-success-border: #009ffb;

$color-action-primary: #015288;
$color-action-primary-text: #ffffff;
$color-action-primary-border: #ffffff;

$color-action-error: #b43620;
$color-action-error-text: #ffffff;
$color-action-error-border: #ffffff;

$color-action-info: #015288;
$color-action-info-text: #ffffff;
$color-action-info-border: #ffffff;

$color-contact-background: #f2f2f2;
$color-contact-text: #333333;

$color-flash-card-background: #f2f2f2;

$alert-info-background: #333333;
$alert-info-text: #ffffff;
$alert-info-border: none;

$radius-button: 0px;
$radius-feature-card: 0px;
$radius-alert-info: 0px;
