$color-banner-background: #f2f2f2;
$color-banner-text: #333333;
$color-banner-border: #dddddd;

$color-disabled-background: #777777;
$color-disabled-text: #f3f3f3;

$color-a-normal: #333333;
$color-a-contrast: #ffffff;

$color-section-header-border: #333333;

$color-slider-background: #f2f2f2;

$color-general-1: #333333;
$color-general-2: #f2f2f2;

$color-primary-a: #113355;
$color-secondary-a: #333377;

$color-footer-a: #ffffff;
$color-footer-background: #015288;
$color-footer-text: #ffffff;

$color-primary: #015288;
$color-primary-text: #ffffff;

$color-secondary: #113355;
$color-secondary-text: #ffffff;

$color-action: #113355;
$color-action-text: #ffffff;

$color-main-background-light: #ededed;
$color-main-text-light: #333333;

$color-main-background-dark: #333333;
$color-main-text-dark: #ffffff;

$color-feature-card-background: #f2f2f2;
$color-feature-card-text: #333333;

$color-nav-background: #ededed;
$color-nav-background-hover: #015288;
$color-nav-text: #333333;
$color-nav-text-hover: #ffffff;

$color-quote-background: #f44336;
$color-quote-text: #ffffff;

$font-family: Roboto, "Helvetica Neue", sans-serif;

$color-action-money: #015288;
$color-action-money-hover: #015288;
$color-action-money-text: #ffffff;
$color-action-money-border: #ffffff;

$color-action-success: #f44336;
$color-action-success-text: #ffffff;
$color-action-success-border: #f44336;

$color-action-primary: #015288;
$color-action-primary-text: #ffffff;
$color-action-primary-border: #ffffff;

$color-action-error: #ff5533;
$color-action-error-text: #ffffff;
$color-action-error-border: #ffffff;

$color-action-info: #015288;
$color-action-info-text: #ffffff;
$color-action-info-border: #ffffff;

$color-contact-background: #f2f2f2;
$color-contact-text: #333333;

$color-flash-card-background: #f2f2f2;

$alert-info-background: #333333;
$alert-info-text: #ffffff;
$alert-info-border: none;

$radius-button: 3px;
$radius-feature-card: 0px;
$radius-alert-info: 3px;
