<div class="rjl-home-splash container mt-5">
    <div class="row">
        <div class="col-12">
            <img (click)="goto('services')" class="img-fluid rounded" src="assets/images/splash/home-mobile-splash.jpg" alt="RJL Accounting" />
        </div>
    </div>
</div>
<div class="rjl-home-carousel container mt-5">
    <div class="row">
        <div class="col-12">
            <ngb-carousel *ngIf="carouselImages">
                <ng-template ngbSlide>
                    <img (click)="goto('services')" class="img-fluid carousel-click" [src]="carouselImages[0]" alt="RJL Accounting" />
                </ng-template>
                <ng-template ngbSlide>
                    <img (click)="goto('services')" class="img-fluid carousel-click" [src]="carouselImages[1]" alt="RJL Accounting" />
                </ng-template>
                <ng-template ngbSlide>
                    <img (click)="goto('services')" class="img-fluid carousel-click" [src]="carouselImages[2]" alt="RJL Accounting" />
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
</div>
<div class="container">
    <div class="row gx-2 gy-2">
        <div class="col-12 mb-3">
            <app-mission></app-mission>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
            <div class="p-3 border flash-card">
                <div class="fs-2"><i class="bi bi-calculator"></i></div>
                <div class="flash-card-content f2-1">
                    <div class="flash-card-header">Tax & Accounting Services</div>
                    Tax deadlines? Accounting woes? I've got your back. Click the action button to see an extensive list of services
                    offered by RJL Accounting.
                    <div class="spacer-md">&nbsp;</div>
                </div>
                <div class="flash-card-footer">
                    <button (click)="goto('services')" class="btn btn-info">More</button>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
            <div class="p-3 border flash-card">
                <div class="fs-2"><i class="bi bi-calendar-day"></i></div>
                <div class="flash-card-content f2-1">
                    <div class="flash-card-header">Important Dates & Resources</div>
                    View a handy collection of important dates and resources.
                    <div class="spacer-md">&nbsp;</div>
                </div>
                <div class="flash-card-footer">
                    <button (click)="goto('resources')" class="btn btn-info">More</button>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
            <div class="p-3 border flash-card">
                <div class="fs-2"><i class="bi bi-telephone-fill"></i></div>
                <div class="flash-card-content f2-1">
                    <div class="flash-card-header">Get in Touch</div>Sometimes it is just better to pick up a phone and talk.
                    Contact RJL Accounting to discuss all your tax and accounting needs.
                    <div class="spacer-md">&nbsp;</div>
                </div>
                <div class="flash-card-footer">
                    <button (click)="goto('contact')" class="btn btn-info">More</button>
                </div>
            </div>
        </div>
    </div>
</div>
