<div class="banner-text-container fs-2">..your one-stop <strong>TAX</strong> &<br><strong>ACCOUNTING</strong> solution.
</div>
<p>&nbsp;</p>
<div class="container">
    <div class="row gx-2 gy-2">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
            <div class="p-3 border flash-card">
                <div class="fs-2"><i class="bi bi-bar-chart-fill"></i></div>
                <div class="flash-card-content f2-1"><div class="flash-card-header">Tax Consulting</div>Filler text 123. Filler text
                    123. Filler text 123. Filler text 123.
                    Filler text 123. Filler text 123. Filler text 123.</div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
            <div class="p-3 border flash-card">
                <div class="fs-2"><i class="bi bi-bell-fill"></i></div>
                <div class="flash-card-content f2-1"><div class="flash-card-header">Get Notified</div>Filler text 123. Filler text 123.
                    Filler
                    text 123. Filler text 123.
                    Filler text 123. Filler text 123. Filler text 123.</div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
            <div class="p-3 border flash-card">
                <div class="fs-2"><i class="bi bi-calendar-day"></i></div>
                <div class="flash-card-content f2-1"><div class="flash-card-header">Important Dates</div>Filler text 123. Filler text 123.
                    Filler
                    text 123. Filler text 123.
                    Filler text 123. Filler text 123. Filler text 123.</div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
            <div class="p-3 border flash-card">
                <div class="fs-2"><i class="bi bi-chat"></i></div>
                <div class="flash-card-content f2-1"><div class="flash-card-header">Talk to Us</div>Filler text 123. Filler text 123.
                    Filler
                    text 123. Filler text 123.
                    Filler text 123. Filler text 123. Filler text 123.</div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
            <div class="p-3 border flash-card">
                <div class="fs-2"><i class="bi bi-check-square-fill"></i></div>
                <div class="flash-card-content f2-1"><div class="flash-card-header">Get Your Checklists in Order</div>Filler text 123. Filler text 123.
                    Filler
                    text 123. Filler text 123.
                    Filler text 123. Filler text 123. Filler text 123.</div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
            <div class="p-3 border flash-card">
                <div class="fs-2"><i class="bi bi-box-fill"></i></div>
                <div class="flash-card-content f2-1"><div class="flash-card-header">Out of the Box</div>Filler text 123. Filler text 123.
                    Filler
                    text 123. Filler text 123.
                    Filler text 123. Filler text 123. Filler text 123.</div>
            </div>
        </div>
    </div>
</div>