<div class="container">
    <div class="row">
        <div class="col">
            <div class="section-header">e-Business Card</div>
        </div>
    </div>
    <div class="row">
        <div class="col mt-3">
            Scan the QR Code below to access our business card:            
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-4">
            <qrcode [qrdata]="myAngularxQrCode" [width]="1000" [errorCorrectionLevel]="'L'"></qrcode>
        </div>
    </div>
</div>